
.toolbar {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
}

.top-logo {
  max-width: 128px;
  max-height: 30px;
  padding: 0 50px 0 25px;
}

a.top-link {
  color: #7c7c7c;
  font-size: 16px;
  height: 80%;
  line-height: 40px;
  padding: 12px 26px 0 26px;
  text-decoration: none;
}

a.top-link.active {
  border-bottom: 3px solid #54ca95;
  font-weight: bold;
}

.right-link {
  position: absolute;
  right: 260px;
}

.right-link a {
  cursor: pointer;
}

.right-link .search-box {
  position: relative;
}

.right-link .search-box i {
  color: #54ca95;
  float: left;
  position: absolute;
  top: 10px;
}

.right-link .search-box input {
  border: none;
  font-size: 15px;
  padding: 5px;
  position: absolute;
  margin: 5px 0 0 35px;
  float: right;
}