.past-emails {
  height: 280px;
  padding-bottom: 100%;
  background-color: #93e7ff;
  line-height: 280px;
  text-align: center;
  font-family: 'Clicker Script', cursive;
  font-size: 34px;
}

span.center-text {
}




div.notes-title {
  min-height: 60px;
  background-color: #F1F1F1;
  line-height: 60px;
  text-align: left;
}

span.note-heading {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-left: 25px;
  color: #3A3A3A;
}




